@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply min-h-screen bg-no-repeat;
  background-color: #ddd;
  background-image: url("../public/tree-mobile.png"),
    url("../public/bg-mobile.png");
  background-size: contain, cover;
  background-position: top center, bottom;
}

@screen lg {
  .app {
    background-image: url("../public/bg-lzd.png");
    background-size: cover;
    background-position: bottom;
  }
}

.has-dot {
  @apply relative;
}

.has-dot::after {
  @apply absolute text-NeonCarrot text-3xl top-1/2 -translate-y-1/2 translate-x-full;
  font-family: "Libre Franklin", sans-serif;
  content: ":";
  right: 0;
}

@screen sm {

}

@screen 2xl {
  .has-dot::after {
    right: -0.25rem;
  }
}

.coundownUnit {
  font-family: "Libre Franklin", sans-serif;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #fa8f40,
    #fb9b45,
    #fba84b,
    #fcb352,
    #fcbf5b
  );
}

.coundownUnit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(102, 65, 28, 0.14);
  left: 0;
  top: 50%;
  z-index: 0;
}

.coundownUnit::after {
  content: "";
  position: absolute;
  height: 14px;
  width: calc(100% - 2px);
  border-left: 1.5px solid rgba(0, 0, 0, 0.3);
  border-right: 1.5px solid rgba(0, 0, 0, 0.3);
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.modal-rules {
  max-height: calc(100vh - 60px)
}